<h1>Contactos</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, id beatae quam quidem quo quis ab earum deserunt dignissimos? Assumenda doloremque cumque voluptate, ipsum nemo a ipsa facere sapiente. Voluptate.</p>


<p>
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre" id="nombre">
</p>
<p>
  <label for="Apellido">Apellido</label>
  <input type="text" name="Apellido" id="apellido">
</p>
<p>
  <label for="telefono">Telefono de contacto</label>
  <input type="text" name="telefono" id="">
  <input type="text" name="telefono" id="">
</p>
<button onclick="location.href = '/enviado';">Enviar</button>