<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/nosotros">Nosotros</a>
      </li>
      <li>
        <a href="/servicios">Servicios</a>
      </li>
      <li>
        <a href="/contactos">Contactos</a>
      </li>
    </ul>
  </nav>
  {{{body}}}
</body>

</html>